.mainSupport {
    width: 100%;
    background-color: #FFFFFF;
    padding: 186px 0px 200px 0px;
    position: relative;
}

.headerSection {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.mainHeading {
    font-size: 36px;
    font-weight: 600;
    color: #090F4E;
    line-height: 100%;
    letter-spacing: 0%;

}

.subHeading {
    font-size: 18px;
    color: #4D4D4D;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    max-width: 958px;
    margin: 0 auto;
}

.imgContainer {
    width: 100%;
    height: auto;
}

.supportImg {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.integratecrmSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.integrateCRMNowButton {
    background-color: #B3FC6A;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 21px 12px 21px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    white-space: nowrap;
    width: 296px;
    line-height: 28px;
    height: 60px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.msgImage {
    position: absolute;
    object-fit: contain;
    width: 105px;
    height: 97px;
    top: 86px;
    right: 470px;
}

.chatImageContainer {
    position: absolute;
    bottom: -16px;
    right: 0;
    max-width: 170px;
    max-height: 153px;
}


.chatImage {
    /* position: absolute; */
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* Media Queries for Support Section - Responsive Design */
@media (max-width: 1399px) {
    .mainSupport {
        padding: 170px 0px 190px 0px;
    }

    .mainHeading {
        font-size: 34px;
    }

    .subHeading {
        font-size: 17px;
        line-height: 27px;
        max-width: 900px;
    }

    .headerSection {
        gap: 24px;
        margin-bottom: 18px;
    }

    .integrateCRMNowButton {
        width: 280px;
        height: 58px;
        font-size: 17px;
    }

    .msgImage {
        width: 100px;
        height: 92px;
        top: 80px;
        right: 450px;
    }

    .chatImageContainer {
        max-width: 160px;
        max-height: 145px;
    }
}

@media (max-width: 1200px) {
    .mainSupport {
        padding: 150px 0px 180px 0px;
    }

    .mainHeading {
        font-size: 32px;
    }

    .subHeading {
        font-size: 16px;
        line-height: 26px;
        max-width: 850px;
    }

    .headerSection {
        gap: 22px;
    }

    .integrateCRMNowButton {
        width: 270px;
        height: 56px;
        font-size: 16px;
    }

    .msgImage {
        width: 95px;
        height: 88px;
        top: 75px;
        right: 400px;
    }

    .chatImageContainer {
        max-width: 150px;
        max-height: 135px;
        bottom: -14px;
    }
}

@media (max-width: 1024px) {
    .mainSupport {
        padding: 130px 0px 160px 0px;
    }

    .mainHeading {
        font-size: 30px;
    }

    .subHeading {
        font-size: 15px;
        line-height: 25px;
        max-width: 800px;
    }

    .headerSection {
        gap: 20px;
        margin-bottom: 16px;
    }

    .integrateCRMNowButton {
        width: 260px;
        height: 54px;
        font-size: 16px;
    }

    .msgImage {
        width: 90px;
        height: 83px;
        top: 70px;
        right: 350px;
    }

    .chatImageContainer {
        max-width: 140px;
        max-height: 125px;
        bottom: -12px;
    }
}

@media (max-width: 768px) {
    .mainSupport {
        padding: 100px 0px 120px 0px;
    }

    .mainHeading {
        font-size: 28px;
    }

    .subHeading {
        font-size: 14px;
        line-height: 23px;
        max-width: 100%;
    }

    .headerSection {
        gap: 18px;
        margin-bottom: 15px;
    }

    .imgContainer {
        margin-bottom: 30px;
    }

    .integrateCRMNowButton {
        width: 240px;
        height: 52px;
        font-size: 15px;
        padding: 11px 20px;
    }

    .msgImage {
        display: none;
    }

    .chatImageContainer {
        max-width: 120px;
        max-height: 110px;
        bottom: -10px;
    }
}

@media (max-width: 600px) {
    .mainSupport {
        padding: 80px 0px 100px 0px;
    }

    .mainHeading {
        font-size: 26px;
    }

    .subHeading {
        font-size: 13px;
        line-height: 21px;
    }

    .headerSection {
        gap: 16px;
    }

    .integrateCRMNowButton {
        width: 220px;
        height: 50px;
        font-size: 14px;
        padding: 10px 18px;
    }

    .chatImageContainer {
        max-width: 100px;
        max-height: 90px;
    }
}

@media (max-width: 480px) {
    .mainSupport {
        padding: 70px 0px 90px 0px;
    }

    .mainHeading {
        font-size: 24px;
    }

    .subHeading {
        font-size: 12px;
        line-height: 20px;
    }

    .headerSection {
        gap: 14px;
        margin-bottom: 12px;
    }

    .integrateCRMNowButton {
        width: 100%;
        max-width: 200px;
        height: 48px;
        font-size: 13px;
        padding: 10px 16px;
    }

    .chatImageContainer {
        max-width: 90px;
        max-height: 80px;
        bottom: -8px;
    }
}

@media (max-width: 320px) {
    .mainHeading {
        font-size: 22px;
    }

    .integrateCRMNowButton {
        max-width: 180px;
        height: 46px;
        font-size: 12px;
    }
}