.mainSupport {
    width: 100%;
    background-color: #FFFFFF;
    padding: 186px 0px 200px 0px;
    position: relative;
}

.headerSection {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.mainHeading {
    font-size: 36px;
    font-weight: 600;
    color: #090F4E;
    line-height: 100%;
    letter-spacing: 0%;

}

.subHeading {
    font-size: 18px;
    color: #4D4D4D;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    max-width: 958px;
    margin: 0 auto;
}

.imgContainer {
    width: 100%;
    height: auto;
}

.supportImg {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.integratecrmSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.integrateCRMNowButton {
    background-color: #B3FC6A;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 21px 12px 21px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    white-space: nowrap;
    width: 296px;
    line-height: 28px;
    height: 60px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.msgImage {
    position: absolute;
    object-fit: contain;
    width: 105px;
    height: 97px;
    top: 86px;
    right: 470px;
}

.chatImageContainer {
    position: absolute;
    bottom: -16px;
    right: 0;
    max-width: 170px;
    max-height: 153px;
}


.chatImage {
    /* position: absolute; */
    object-fit: contain;
    width: 100%;
    height: 100%;
}