.mainUseCrm {
    width: 100%;
    padding: 54px 0px 26px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerSection {
    text-align: left;
    max-width: 804px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
}

.mainHeading {
    font-size: 36px;
    font-weight: 600;
    color: #090F4E;
    line-height: 100%;
}

.useCrmContainer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 420px;
}

.useCrmHeading {
    text-align: center;
    font-weight: 600;
    font-size: 45.33px;
    line-height: 66.87px;
    padding-top: 52px;
    color: #FFFFFF;
}

.getstartedSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    width: 100%;

}

.getStartedButton {
    background-color: #9EE25A;
    color: #171717;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    width: 221px;
    line-height: 28px;
    height: 52px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}