* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

.container {
    display: block;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    margin: 0 auto;
    /* padding: 0 20px; */
}

/* Media Queries for Container - Ensure Content Always Centered */
@media (max-width: 1399px) {
    .container {
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 40px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 16px;
    }
}