* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

.container {
    display: block;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    margin: 0 auto;
}